@using AUF.EMR.Application.Utilities;
@using AUF.EMR.Domain.Models.Enums.FamilyPlanning;
@model CreateFamilyPlanningVM

@{
    Layout = "Layouts/_FamilyPlanningIndex";
    ViewData["Title"] = "Family Planning Record - Create";
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}

<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-8 mb-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="block mb-2 text-sm text-red-700"></div>
            <div class="w-3/4 home-hero">
                <h1 class="text-xl">Create</h1>
                <h1 class="text-2xl font-bold text-gray-800 mb-4">Family Planning Client Assessment Record</h1>
            </div>
            <hr class="mb-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 with-separator">
                <div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.ClientId" class="block mb-2 text-sm font-medium text-gray-700">Client ID</label>
                        <input asp-for="FPRecord.ClientId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.ClientId" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.PhilhealthNo" class="block mb-2 text-sm font-medium text-gray-700">Philhealth No.</label>
                        <input asp-for="FPRecord.PhilhealthNo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.PhilhealthNo" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <br /> <hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">
                            Personal Information
                        </h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.ClientHouseholdMemberId" class="block mb-2 text-sm font-medium text-gray-700">Client</label>
                        <select asp-for="FPRecord.ClientHouseholdMemberId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" asp-items="@(new SelectList(Model.WomenHouseholdMember, nameof(HouseholdMember.Id), nameof(HouseholdMember.FormattedFullName)))"></select>
                        <input type="hidden" asp-for="WomenHouseholdMember" value="@Model.WomenHouseholdMember" />
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.ClientAge" class="block mb-2 text-sm font-medium text-gray-700">Age</label>
                        <input asp-for="FPRecord.ClientAge" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.ClientAge" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.ClientOccupation" class="block mb-2 text-sm font-medium text-gray-700">Occupation</label>
                        <input asp-for="FPRecord.ClientOccupation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.ClientOccupation" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.ContactNo" class="block mb-2 text-sm font-medium text-gray-700">Contact No.</label>
                        <input asp-for="FPRecord.ContactNo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.ContactNo" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.CivilStatus" class="block mb-2 text-sm font-medium text-gray-700">Civil Status</label>
                        <input asp-for="FPRecord.CivilStatus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.CivilStatus" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.Religion" class="block mb-2 text-sm font-medium text-gray-700">Religion</label>
                        <input asp-for="FPRecord.Religion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.Religion" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <br /> <hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Spouse's Information</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.SpouseLastName" class="block mb-2 text-sm font-medium text-gray-700">Spouse's Last Name</label>
                        <input asp-for="FPRecord.SpouseLastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.SpouseLastName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.SpouseFirstName" class="block mb-2 text-sm font-medium text-gray-700">Spouse's First Name</label>
                        <input asp-for="FPRecord.SpouseFirstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.SpouseFirstName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.SpouseMiddleInitial" class="block mb-2 text-sm font-medium text-gray-700">Spouse's Middle Initial</label>
                        <input asp-for="FPRecord.SpouseMiddleInitial" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.SpouseMiddleInitial" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.SpouseBirthday" class="block mb-2 text-sm font-medium text-gray-700">Spouse's Birthdate</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="FPRecord.SpouseBirthday" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="FPRecord.SpouseBirthday" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.SpouseAge" class="block mb-2 text-sm font-medium text-gray-700">Spouse's Age</label>
                        <input asp-for="FPRecord.SpouseAge" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.SpouseAge" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.SpouseOccupation" class="block mb-2 text-sm font-medium text-gray-700">Spouse's Occupation</label>
                        <input asp-for="FPRecord.SpouseOccupation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.SpouseOccupation" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <br /> <hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Children Planning</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.LivingChildrenNo" class="block mb-2 text-sm font-medium text-gray-700">No. of Living Children</label>
                        <input asp-for="FPRecord.LivingChildrenNo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.LivingChildrenNo" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium text-gray-700">Plan to have more children?</label>
                        <div class="flex">
                            <div class="flex items-center me-4">
                                <input asp-for="FPRecord.IsPlanningChildren" value="true" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="FPRecord.IsPlanningChildren" class="ms-2 text-sm font-medium text-gray-900">Yes</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input asp-for="FPRecord.IsPlanningChildren" value="false" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="FPRecord.IsPlanningChildren" class="ms-2 text-sm font-medium text-gray-900">No</label>
                            </div>
                        </div>
                        <span asp-validation-for="FPRecord.IsPlanningChildren" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.AverageMonthlyIncome" class="block mb-2 text-sm font-medium text-gray-700">Average Monthly Income</label>
                        <input asp-for="FPRecord.AverageMonthlyIncome" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.AverageMonthlyIncome" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <br /> <hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Client Type</h6>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium text-gray-700">Plan to have more children?</label>
                        <div class="flex">
                            <div class="flex items-center me-4">
                                <input asp-for="FPRecord.ClientType.IsCurrentUser" value="true" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="FPRecord.IsPlanningChildren" class="ms-2 text-sm font-medium text-gray-900">Current User</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input asp-for="FPRecord.ClientType.IsCurrentUser" value="false" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="FPRecord.ClientType.IsCurrentUser" class="ms-2 text-sm font-medium text-gray-900">New Acceptor</label>
                            </div>
                        </div>
                        <span asp-validation-for="FPRecord.ClientType.IsCurrentUser" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ClientType.CurrentUserType" class="block mb-2 text-sm font-medium text-gray-700">Current User Type</label>
                        <select asp-for="ClientType.CurrentUserType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(CurrentUserType)))
                            {
                                <option value="@value">@EnumExtension.GetEnumTitleCase((CurrentUserType)value)</option>
                            }
                        </select>
                        <span asp-validation-for="ClientType.CurrentUserType" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ClientType.ReasonForFP" class="block mb-2 text-sm font-medium text-gray-700">Reason for FP</label>
                        <select asp-for="ClientType.ReasonForFP" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(ReasonForFP)))
                            {
                                <option value="@value">@EnumExtension.GetEnumTitleCase((ReasonForFP)value)</option>
                            }
                        </select>
                        <span asp-validation-for="ClientType.ReasonForFP" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ClientType.ReasonOthers" class="block mb-2 text-sm font-medium text-gray-700">Other Reasons</label>
                        <input asp-for="ClientType.ReasonOthers" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ClientType.ReasonOthers" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4 ">
                        <label class="block mb-2 text-sm font-medium text-gray-700">Reason if changing method</label>
                        <div class="flex">
                            <div class="flex items-center me-4">
                                <input asp-for="FPRecord.ClientType.IsReasonSideEffects" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                <label asp-for="FPRecord.ClientType.IsReasonSideEffects" class="ms-2 text-sm font-medium text-gray-900">Medical Condition</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input asp-for="FPRecord.ClientType.IsReasonSideEffects" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                <label asp-for="FPRecord.ClientType.IsReasonSideEffects" class="ms-2 text-sm font-medium text-gray-900">Side-Effects</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ClientType.ReasonMethodText" class="block mb-2 text-sm font-medium text-gray-700">Method Reason/s</label>
                        <input asp-for="ClientType.ReasonMethodText" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ClientType.ReasonMethodText" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <p class="block mb-2 text-sm text-gray-700 font-bold pb-2">Previously used Method (Current User)</p>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodImplant" /> Implant
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodInjectable" /> Injectable
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodLAM" /> LAM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodIUD" /> IUD
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodCOC" /> COC
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodSDM" /> SDM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodBTL" /> BTL
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodPOP" /> POP
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodBBT" /> BBT
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodNSV" /> NSV
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodCondom" /> Condom
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ClientType.IsMethodBOM" /> BOM
                            </label>
                        </div>
                    </div>

                    <br /> <hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">I. Medical History</h6>
                    </div>
                    <p class="block mb-2 text-sm text-gray-700 font-bold">Does the client have any of the following?</p>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasSevereHeadache" /> Severe headaches / migraine
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasHeartAttack" /> History of stroke / heart attack / hypertension
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasHematoma" /> Non-traumatic hematoma / frequent brusing or gum bleeding 
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasBreastCancer" /> Current or history of breast cancer / breast mass
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasChestPain" /> Severe chest pain
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasCough" /> Cough for more than 14 days
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasJaundice" /> Jaundice
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasVaginalBleeding" /> Unexplained vaginal bleeding
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasAbnormalDischarge" /> Abnormal vaginal discharge
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasTakenRifampicin" /> Intake of phenobarbital (anti-seizure) or rifampicin (anti-TB)
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.IsSmoker" /> Is the client a smoker?
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="MedicalHistory.HasDisability" /> With disability?
                        </label>
                    </div>
                    <div class="mb-4">
                        <label asp-for="MedicalHistory.Disability" class="block mb-2 text-sm font-medium text-gray-700">If yes, what disability?</label>
                        <input asp-for="MedicalHistory.Disability" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="MedicalHistory.Disability" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <br /><hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">II. Obstetrical History</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.NumGravidityPregnancies" class="block mb-2 text-sm font-medium text-gray-700">No. of Gravidity Pregnancies</label>
                        <input asp-for="ObstetricalHistory.NumGravidityPregnancies" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ObstetricalHistory.NumGravidityPregnancies" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.NumParityPregnancies" class="block mb-2 text-sm font-medium text-gray-700">No. of Parity Pregnancies</label>
                        <input asp-for="ObstetricalHistory.NumParityPregnancies" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ObstetricalHistory.NumParityPregnancies" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.NumFullTerm" class="block mb-2 text-sm font-medium text-gray-700">No. of Full Term</label>
                        <input asp-for="ObstetricalHistory.NumFullTerm" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ObstetricalHistory.NumFullTerm" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.NumAbortion" class="block mb-2 text-sm font-medium text-gray-700">No. of Abortion</label>
                        <input asp-for="ObstetricalHistory.NumAbortion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ObstetricalHistory.NumAbortion" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.NumPremature" class="block mb-2 text-sm font-medium text-gray-700">No. of Premature</label>
                        <input asp-for="ObstetricalHistory.NumPremature" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ObstetricalHistory.NumPremature" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.NumLivingChildren" class="block mb-2 text-sm font-medium text-gray-700">No. of Living Children</label>
                        <input asp-for="ObstetricalHistory.NumLivingChildren" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ObstetricalHistory.NumLivingChildren" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.LastDelivery" class="block mb-2 text-sm font-medium text-gray-700">Last Delivery</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="ObstetricalHistory.LastDelivery" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="ObstetricalHistory.LastDelivery" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium text-gray-700">Type of last delivery</label>
                        <div class="flex">
                            <div class="flex items-center me-4">
                                <input asp-for="ObstetricalHistory.IsLastDeliveryVaginal" value="true" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="ObstetricalHistory.IsLastDeliveryVaginal" class="ms-2 text-sm font-medium text-gray-900">Vaginal</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input asp-for="ObstetricalHistory.IsLastDeliveryVaginal" value="false" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="ObstetricalHistory.IsLastDeliveryVaginal" class="ms-2 text-sm font-medium text-gray-900">Cesarean section</label>
                            </div>
                        </div>
                        <span asp-validation-for="ObstetricalHistory.IsLastDeliveryVaginal" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.IsLastDeliveryVaginal" class="block mb-2 text-sm font-medium text-gray-700">Is Last Delivery Vaginal?</label>
                        <input asp-for="ObstetricalHistory.IsLastDeliveryVaginal" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="ObstetricalHistory.IsLastDeliveryVaginal" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.LastMenstrualPeriod" class="block mb-2 text-sm font-medium text-gray-700">Last Menstrual Period</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="ObstetricalHistory.LastMenstrualPeriod" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="ObstetricalHistory.LastMenstrualPeriod" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.PreviousMenstrualPeriod" class="block mb-2 text-sm font-medium text-gray-700">Previous Menstrual Period</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="ObstetricalHistory.PreviousMenstrualPeriod" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="ObstetricalHistory.PreviousMenstrualPeriod" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="ObstetricalHistory.MenstrualFlow" class="block mb-2 text-sm font-medium text-gray-700">Menstrual Flow</label>
                        <select asp-for="ObstetricalHistory.MenstrualFlow" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(MenstrualFlow)))
                            {
                                <option value="@value">@EnumExtension.GetEnumTitleCase((MenstrualFlow)value)</option>
                            }
                        </select>
                        <span asp-validation-for="ObstetricalHistory.MenstrualFlow" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ObstetricalHistory.HasDysmenorrhea" /> Dysmenorrhea
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ObstetricalHistory.HasHydatidiformMole" /> Hydatidiform mole (within the last 12 months)
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="ObstetricalHistory.HadEctopicPregnancy" /> History of ectopic pregnancy
                        </label>
                    </div>
                </div>
                <div>
                    <div class="mb-2">
                        <h6 class="text-md font-bold text-gray-800">III. Risks for Sexually Transmitted Infections</h6>
                    </div>
                    <p class="block mb-2 text-sm text-gray-700 font-bold">Does the client or the client's partner have any of the following?</p>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForSTI.AbnormalDischarge" /> Abormal discharge from the genital area
                        </label>
                    </div>
                    <div class="mb-4">
                        <label asp-for="RisksForSTI.Genitals" class="block mb-2 text-sm font-medium text-gray-700">If yes, please indicate</label>
                        <select asp-for="RisksForSTI.Genitals" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(Genitals)))
                            {
                                <option value="@value">@EnumExtension.GetEnumTitleCase((Genitals)value)</option>
                            }
                        </select>
                        <span asp-validation-for="RisksForSTI.Genitals" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForSTI.HasSoresInGenitalArea" /> Sores or ulcers in the genital area
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForSTI.HasPainInGenitalArea" /> Pain or burning sensation in the genital area
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForSTI.HadTreatmentForSTI" /> History treatment for sexually transmitted infections
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700"> 
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForSTI.HasHIV" /> HIV / AIDS / Pelvic inflammatory disease
                        </label>
                    </div>

                    <br /> <hr class="w-full md:w-4/5" />

                    <div asp-validation-summary="ModelOnly" class="block mb-2 text-sm text-red-700"></div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800 pb-2">IV. Risks for Violence Against Women (VAW)</h6>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForVAW.HadVAW" /> History of domestic violence or VAW
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForVAW.HadUnpleasantRelationship" /> Unpleasant relationship with partner
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="RisksForVAW.PartnerNotApproveFP" /> Partner does not approve of the visit to FP clinic
                    </div>
                    <div class="mb-4">
                        <label asp-for="RisksForVAW.ReferredTo" class="block mb-2 text-sm font-medium text-gray-700">Referred To</label>
                        <select asp-for="RisksForVAW.ReferredTo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(VAWReferredTo)))
                            {
                                <option value="@value">@value</option>
                            }
                        </select>
                        <span asp-validation-for="RisksForVAW.ReferredTo" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="RisksForVAW.ReferredToOthers" class="block mb-2 text-sm font-medium text-gray-700">Referred To (Others)</label>
                        <input asp-for="RisksForVAW.ReferredToOthers" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="RisksForVAW.ReferredToOthers" class="block mb-2 text-sm text-red-700"></span>
                    </div>

                    <br /> <hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">V. Physical Examination</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Weight" class="block mb-2 text-sm font-medium text-gray-700">Weight (kg)</label>
                        <input asp-for="PhysicalExamination.Weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PhysicalExamination.Weight" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Height" class="block mb-2 text-sm font-medium text-gray-700">Height (m)</label>
                        <input asp-for="PhysicalExamination.Height" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PhysicalExamination.Height" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.BloodPressure" class="block mb-2 text-sm font-medium text-gray-700">Blood Pressure (mmHGg)</label>
                        <input asp-for="PhysicalExamination.BloodPressure" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PhysicalExamination.BloodPressure" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.PulseRate" class="block mb-2 text-sm font-medium text-gray-700">Pulse Rate /min</label>
                        <input asp-for="PhysicalExamination.PulseRate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PhysicalExamination.PulseRate" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Skin" class="block mb-2 text-sm font-medium text-gray-700">Skin</label>
                        <select asp-for="PhysicalExamination.Skin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(Skin)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((Skin)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.Skin" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Conjunctiva" class="block mb-2 text-sm font-medium text-gray-700">Conjunctiva</label>
                        <select asp-for="PhysicalExamination.Conjunctiva" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(Conjunctiva)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((Conjunctiva)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.Conjunctiva" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Neck" class="block mb-2 text-sm font-medium text-gray-700">Neck</label>
                        <select asp-for="PhysicalExamination.Neck" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(Neck)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((Neck)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.Neck" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Breast" class="block mb-2 text-sm font-medium text-gray-700">Breast</label>
                        <select asp-for="PhysicalExamination.Breast" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(Breast)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((Breast)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.Breast" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Abdomen" class="block mb-2 text-sm font-medium text-gray-700">Abdomen</label>
                        <select asp-for="PhysicalExamination.Abdomen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(Abdomen)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((Abdomen)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.Abdomen" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.Extremities" class="block mb-2 text-sm font-medium text-gray-700">Extremities</label>
                        <select asp-for="PhysicalExamination.Extremities" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(Extremities)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((Extremities)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.Extremities" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <p class="block mb-2 text-sm text-gray-700 font-bold pb-2">Pelvic Examination (For IUD Acceptors)</p>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PelvicNormal" /> Normal
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PelvicMass" /> Mass
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PelvicAbnormalDischarge" /> Abnormal discharge
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PelvicCervicalAbnormalities" /> Cervical abnormalities
                        </label>
                    </div>
                    <div class="ml-8">
                        <div class="mb-4 form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PCAWarts" /> Warts
                            </label>
                        </div>
                        <div class="mb-4 form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PCAPolyp" /> Polyp or cyst
                            </label>
                        </div>
                        <div class="mb-4 form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PCAInflammation" /> Inflammation or erosion
                            </label>
                        </div>
                        <div class="mb-4 form-check">
                            <label class="block mb-2 text-sm font-medium text-gray-700">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PCABloodyDischarge" /> Bloody discharge
                            </label>
                        </div>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.PelvicCervicalConsistency" /> Cervical consistency
                        </label>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.CervicalConsistency" class="block mb-2 text-sm font-medium text-gray-700">Cervical Consistency</label>
                        <select asp-for="PhysicalExamination.CervicalConsistency" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(CervicalConsistency)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((CervicalConsistency)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.CervicalConsistency" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.CervicalTenderness" /> Cervical tenderness
                        </label>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.AdnexalMass" /> Adnexal mass / tenderness
                        </label>
                    </div>

                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.UterinePosition" /> Uterine position
                        </label>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.UterinePositions" class="block mb-2 text-sm font-medium text-gray-700">Cervical Consistency</label>
                        <select asp-for="PhysicalExamination.UterinePositions" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(UterinePosition)))
                            {
                                <option value="@value">@EnumExtension.GetEnumLowCase((UterinePosition)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PhysicalExamination.UterinePositions" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4 form-check">
                        <label class="block mb-2 text-sm font-medium text-gray-700">
                            <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" asp-for="PhysicalExamination.UterineDepth" /> Uterine position
                        </label>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PhysicalExamination.UterineDepthSize" class="block mb-2 text-sm font-medium text-gray-700">Uterine depth size</label>
                        <input asp-for="PhysicalExamination.UterineDepthSize" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PhysicalExamination.UterineDepthSize" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <br /> <hr class="w-full md:w-4/5" />
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Acknowledgement and Consent</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.FPMethod" class="block mb-2 text-sm font-medium text-gray-700">FP Method</label>
                        <input asp-for="FPRecord.FPMethod" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.FPMethod" class="block mb-2 text-sm text-red-700"></span>
                    </div>

                    <div class="mb-4">
                        <label asp-for="FPRecord.ClientSignatureAcknowledgement" class="block mb-2 text-sm font-medium text-gray-700">Signature Acknowledgement</label>
                        <input asp-for="FPRecord.ClientSignatureAcknowledgement" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.ClientSignatureAcknowledgement" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.DateAcknowledgement" class="block mb-2 text-sm font-medium text-gray-700">Date of Acknowledgement</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="FPRecord.DateAcknowledgement" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="FPRecord.DateAcknowledgement" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.ClientSignatureConsent" class="block mb-2 text-sm font-medium text-gray-700">Signature Consent</label>
                        <input asp-for="FPRecord.ClientSignatureConsent" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="FPRecord.ClientSignatureConsent" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FPRecord.DateConsent" class="block mb-2 text-sm font-medium text-gray-700">Date of Consent</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="FPRecord.DateConsent" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="FPRecord.DateConsent" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdNo" />
            <div class="flex justify-end">
                <a asp-action="Index" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-red-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 hover:bg-red-450 !important">Back</a>
                <button type="submit" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Add</button>
            </div>
        </form>
    </div>
</div>

<a href="#">
    <div class="home-slide-to-top">
        <svg viewBox="0 0 1024 1024" class="home-icon32">
            <path d="M512 135.339l-273.664 273.664c-33.323 33.323-33.323 87.339 0 120.661s87.339 33.323 120.661 0l67.669-67.669v308.992c0 47.104 38.187 85.333 85.333 85.333 47.104 0 85.333-38.229 85.333-85.333v-308.992l67.669 67.669c16.683 16.683 38.485 25.003 60.331 25.003s43.648-8.32 60.331-25.003c33.323-33.323 33.323-87.339 0-120.661l-273.664-273.664z"></path>
        </svg>
    </div>
</a>
<div>
    <script>
        window.addEventListener("scroll", function () {
            var heroSection = document.querySelector(".home-hero");
            var slideToTop = document.querySelector(".home-slide-to-top");
            var heroSectionHeight = heroSection.offsetHeight;

            if (window.pageYOffset > heroSectionHeight) {
                slideToTop.classList.add("active");
            } else {
                slideToTop.classList.remove("active");
            }
        });
    </script>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}