@model DetailPregnancyRecordVM

@{
    ViewData["Title"] = "Details";
    Layout = "Layouts/_DetailsLayout";
}

<div class="container mx-auto px-4 py-8">

    <div class="bg-white shadow-md rounded-lg p-8 mb-6">
        <div class="flex justify-between items-center mb-3">
            <h1 class="text-2xl font-bold mb-3">Details</h1>

            <div class="space-x-2 mb-3 flex justify-end">
                <!--Print Button-->
                <button type="button" onclick="print('Print', 'PatientRecord', '@Model.PregnancyRecord.Id', '@Model.PregnancyRecord.PatientId')">
                <a asp-action="Generate" asp-route-householdNo="@Model.HouseholdNo" class="flex-shrink-0 inline-block bg-blue-500 hover:bg-blue-300 text-white font-medium py-2 px-4 rounded-lg transition duration-300 ease-in-out text-sm w-24">
                    <svg class="w-5 h-5 text-white inline-block mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8 3a2 2 0 0 0-2 2v3h12V5a2 2 0 0 0-2-2H8Zm-3 7a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h1v-4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4h1a2 2 0 0 0 2-2v-5a2 2 0 0 0-2-2H5Zm4 11a1 1 0 0 1-1-1v-4h8v4a1 1 0 0 1-1 1H9Z" clip-rule="evenodd" />
                    </svg>
                    <span class="hidden md:inline font-medium">Print</span>
                </a>
                </button>

                <!--Edit Buttom-->
                <a asp-action="Edit" asp-route-householdNo="@Model.HouseholdNo" asp-route-Id="@Model.PregnancyRecord.Id" class="flex-shrink-0 inline-block bg-yellow-300 hover:bg-yellow-100 text-white font-medium py-2 px-4 rounded-lg transition duration-300 ease-in-out text-sm w-28">
                    <span class="hidden md:inline font-medium">Update</span>
                </a>
                <!--Create Button-->
                <a asp-action="Create" asp-controller="PregnancyAppointment" asp-route-householdNo="@Model.HouseholdNo" asp-route-recordId="@Model.PregnancyRecord.Id" class="text-white bg-primary-50 font-medium rounded-lg transition duration-300 ease-in-out text-sm px-4 py-2 hover:bg-green-300 flex-shrink-0 inline-block  text-white font-medium" aria-label="New Appointment">
                    <svg class="h-5 w-5 inline-block mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                    </svg>
                    New Appointment
                </a>
            </div>

        </div>



        <div>
            <h4 class="text-2xl font-bold mb-2">Pregnancy Record</h4>
            <hr class="mb-2" />
            <dl class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-8">
                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">Full Name</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.Patient.FormattedFullName)</dd>
                </div>

                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">Age</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.Age)</dd>
                </div>

                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">Husband</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.Husband)</dd>
                </div>

                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">Contact Number</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.CellphoneNumber)</dd>
                </div>

                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">Gravida</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.Gravida)</dd>
                </div>

                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">Para</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.Para)</dd>
                </div>

                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">LMP</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.LMP)</dd>
                </div>

                <div class="flex items-center pb-2">
                    <dt class="text-gray-600 font-semibold mr-10 flex-shrink-0 w-40">EDC</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PregnancyRecord.EDC)</dd>
                </div>
            </dl>

            <hr class="mb-3" />
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8">
        <h5 class="text-2xl font-bold mb-2">Pregnancy Appointments</h5>

        <div style="overflow:auto;">
            <table class="table-auto w-full">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-left">
                            Date
                        </th>
                        <th class="px-4 py-2 text-left">
                            Weight
                        </th>
                        <th class="px-4 py-2 text-left">
                            BloodPressure
                        </th>
                        <th class="px-4 py-2 text-left">
                            Temperature
                        </th>
                        <th class="px-4 py-2 text-left">
                            AOG
                        </th>
                        <th class="px-4 py-2 text-left">
                            FH
                        </th>
                        <th class="px-4 py-2 text-left">
                            FHT
                        </th>
                        <th class="px-4 py-2 text-left">
                            TT1
                        </th>
                        <th class="px-4 py-2 text-left">
                            TT2
                        </th>
                        <th class="px-4 py-2 text-left">
                            TT3
                        </th>
                        <th class="px-4 py-2 text-left">
                            TT4
                        </th>
                        <th class="px-4 py-2 text-left">
                            TT5
                        </th>
                        <th class="px-4 py-2 text-left">
                            Remarks
                        </th>
                        <th class="width: 100%; white-space: pre; px-2 py-2">

                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.PregnancyRecord.PregnancyAppointments)
                    {
                        <tr>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.BloodPressure)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.Temperature)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.AOG)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.FH)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.FHT)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.TT1)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.TT2)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.TT3)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.TT4)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.TT5)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2">
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>
                            <!--Action Buttons-->
                            <td class="border-b border-gray-100 px-4 py-2 inline-flex items-center text-center">
                                <a asp-action="Edit" asp-controller="PregnancyAppointment" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" class="text-yellow-300 hover:text-yellow-400 mr-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Details" asp-controller="PregnancyAppointment" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" class="text-green-400 hover:text-green-500 mr-2"><i class="fas fa-eye"></i></a>
                                <form asp-action="Delete" method="post" asp-controller="PregnancyAppointment" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-recordId="@Model.PregnancyRecord.Id" class="text-red-300 hover:text-red-400">
                                    <button type="submit" class="text-red-500 hover:text-red-600 py-1 rounded-md">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



        <div class="flex justify-end mt-8">
            <a asp-action="Index" class="focus:outline-none text-white bg-red-400 hover:bg-red-450 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model?.PregnancyRecord.Id" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-20 flex items-center justify-center">Edit</a>
        </div>
    </div>
</div>