@model PregnancyRecordVM

@{
    Layout = "Layouts/_PregnancyRecordsIndex";
    ViewData["Title"] = "Index";
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}

<div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold mb-8">Pregnancy Records</h1>

        <div class="flex justify-end space-x-2 mb-6">

            <a asp-action="Create" asp-route-householdNo="@Model.HouseholdNo" class="text-white bg-primary-50 font-medium rounded-lg transition duration-300 ease-in-out text-sm px-4 py-2 hover:bg-green-300 flex-shrink-0 inline-block  text-white font-medium" aria-label="Add WRA">
                <svg class="h-5 w-5 inline-block mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                Add Pregnancy Record
            </a>
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8">
        <div style="overflow:auto;">
            <table class="table-auto w-full">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-left">
                            Patient
                        </th>
                        <th class="px-4 py-2 text-left">
                            Age
                        </th>
                        <th class="px-4 py-2 text-left">
                            Husband
                        </th>
                        <th class="px-4 py-2 text-left">
                            Gravida
                        </th>
                        <th class="px-4 py-2 text-left">
                            Para
                        </th>
                        <th class="px-4 py-2 text-left">
                            LMP
                        </th>
                        <th class="px-4 py-2 text-left">
                            Contact Number
                        </th>
                        <th class="px-4 py-2 text-left">
                            EDC
                        </th>
                        <th class="px-4 py-2 text-left">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PregnancyRecords)
                    {
                        <tr class="text-sm hover-household transition duration-300 ease-in-out">
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.Patient.FormattedFullName)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.Husband)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.Gravida)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.Para)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.LMP)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.CellphoneNumber)
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                @Html.DisplayFor(modelItem => item.EDC)
                            </td>
                            <!--Action Buttons-->
                            <td class="border-b border-gray-100 px-4 py-2 text-left inline-flex items-center text-center">
                                <a asp-action="Details" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" class="text-green-400 hover:text-green-500 mr-2"><i class="fas fa-eye"></i></a>

                                <button type="button" onclick="print('Print', 'PregnancyRecord', @Model.HouseholdNo, @item.Id, @item.PatientId)" class="text-blue-400 hover:text-blue-600 mr-2"><i class="fa-solid fa-print"></i></button>

                                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" class="text-red-300 hover:text-red-400">
                                    <button type="submit" class="text-red-500 hover:text-red-600 py-1 rounded-md"><i class="fas fa-trash-alt"></i></button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("Prints/_PrintDialogWithId");
    }
}