@using AUF.EMR.MVC.Models.DetailVM;
@model DetailPatientRecordVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create" asp-controller="VaccinationAppointment" 
        asp-route-householdNo="@Model.HouseholdNo" asp-route-patientId="@Model.PatientRecord.Id">
    Create New
    </a>
</p>

<p>
    <a asp-action="Edit" asp-route-householdNo="@Model.HouseholdNo" 
    asp-route-Id="@Model.PatientRecord.Id">
        Update
    </a>
</p>

<div>
    <h4>PatientRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Patient
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.Patient.FormattedFullName)
        </dd>
        <dt class = "col-sm-2">
            BirthPlace
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.BirthPlace)
        </dd>
        <dt class = "col-sm-2">
            MotherName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.MotherName)
        </dd>
        <dt class = "col-sm-2">
            MotherAge
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.MotherAge)
        </dd>
        <dt class = "col-sm-2">
            MotherBirthday
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.MotherBirthday)
        </dd>
        <dt class = "col-sm-2">
            FatherName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.FatherName)
        </dd>
        <dt class = "col-sm-2">
            FatherAge
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.FatherAge)
        </dd>
        <dt class = "col-sm-2">
            FatherBirthday
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.FatherBirthday)
        </dd>
        <dt class = "col-sm-2">
            ContactNumber
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            TypeOfDelivery
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.TypeOfDelivery)
        </dd>
        <dt class = "col-sm-2">
            Attended
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientRecord.Attended)
        </dd> 
    </dl>

    <hr />

    <h5>Vaccination Appointments</h5>
    <div>
        @foreach (var appointment in Model.PatientRecord.VaccinationAppointments)
        {
            <p>@appointment.VaccinationDate | @appointment.Weight | @appointment.Height | @appointment.Temperature
                @foreach (var vaccine in appointment.VaccinationRecords)
                {
                    @vaccine.Vaccine.Name
                }
            </p>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PatientRecord.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
