@model DetailPatientRecordVM

@{
    ViewData["Title"] = "Details";
    Layout = "Layouts/_DetailsLayout";
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}

<div class="container mx-auto px-4 py-8">

    <div class="bg-white shadow-md rounded-lg p-8 mb-6">
        <div class="flex justify-between items-center mb-3">
            <div>
                <h1 class="text-xl">Details</h1>
                <h1 class="text-2xl font-bold text-gray-800 mb-4">Patient Record</h1>
            </div>

            <div class="space-x-2 mb-3 flex justify-end">
                <div class="flex justify-end mb-6 gap-3">
                    <!--Print Button-->
                    <div class="px-5 py-2.5 text-sm font-medium text-center inline-flex items-center text-white bg-blue-500 hover:bg-blue-400 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-200">
                        <button type="button" onclick="print('Print', 'PatientRecord', '@Model.HouseholdNo', '@Model.PatientRecord.Id', '@Model.PatientRecord.PatientId')">
                            <svg class="w-5 h-5 text-white inline-block mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M8 3a2 2 0 0 0-2 2v3h12V5a2 2 0 0 0-2-2H8Zm-3 7a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h1v-4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4h1a2 2 0 0 0 2-2v-5a2 2 0 0 0-2-2H5Zm4 11a1 1 0 0 1-1-1v-4h8v4a1 1 0 0 1-1 1H9Z" clip-rule="evenodd" />
                            </svg>
                            <span class="hidden md:inline font-medium">Print</span>
                        </button>
                    </div>
                    <a asp-action="Edit" asp-route-id="@Model.PatientRecord.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl" class="px-5 py-2.5 text-sm font-medium text-center inline-flex items-center text-white bg-primary-50 rounded-lg focus:ring-4 focus:outline-none focus:ring-green-200">
                        <svg class="w-6 h-6 text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd" />
                        </svg>
                        Update
                    </a>
                    <button data-modal-target="popup-modal-2" data-member-id="@Model.PatientRecord.Id" data-modal-toggle="popup-modal-2" class="delete-btn px-5 py-2.5 text-sm font-medium text-center inline-flex items-center text-white bg-danger-50 rounded-lg focus:ring-4 focus:outline-none focus:ring-red-100" type="button">
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd" />
                        </svg>
                        <span class="hidden md:inline font-medium">&nbsp; Delete</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="popup-modal-2" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-modal-2">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <form id="deleteForm" asp-action="Delete" asp-controller="PatientRecord" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl">
                        <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500">Are you sure you want to delete this record?</h3>
                            <button data-modal-hide="popup-modal-2" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                            <button data-modal-hide="popup-modal-2" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                Yes, I'm sure
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <hr class="mb-2" />
            <dl class="grid grid-cols-1 md:grid-cols-2 gap-x-8 text-sm">
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Name</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.Patient.FormattedFullName)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Mother's Name</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.MotherName)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Birthday</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.Patient.Birthday)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Mother's Age</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.MotherAge)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Birthplace</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.BirthPlace)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Mother's Birthday</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.MotherBirthday)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Sex</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.Patient.Sex)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Father's Name</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.FatherName)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Address</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.Patient.Household.FullAddress)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Father's Age</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.FatherAge)</dd>
                </div>
                <div></div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Father's Birthday</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.FatherBirthday)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Type of Delivery</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.TypeOfDelivery)</dd>
                </div>
                <div class="flex items-center pb-2">
                    <dt class="text-gray-800 font-semibold mr-10 flex-shrink-0 w-40">Attended</dt>
                    <dd class="text-gray-900">@Html.DisplayFor(model => model.PatientRecord.Attended)</dd>
                </div>               
            </dl>
        </div>
        <hr class="mb-3" />
    </div>
    <div class="bg-white shadow-md rounded-lg p-8">
        <div class="flex justify-between">
            <div>
                <h1 class="text-xl">List of</h1>
                <h1 class="text-2xl font-bold text-gray-800 mb-4">Patient Appointments</h1>
            </div>
            <div class="flex justify-end mb-4">
                <a asp-action="Create" asp-route-householdNo="@Model.HouseholdNo" asp-route-recordId="@Model.PatientRecord.Id" asp-controller="VaccinationAppointment" class="px-5 py-2.5 text-sm max-h-12 font-medium text-center inline-flex items-center text-white bg-primary-50 rounded-lg focus:ring-4 focus:outline-none focus:ring-green-200">
                    <svg class="h-5 w-5 inline-block mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                    </svg>
                    New Appointment
                </a>
            </div>
        </div>
        
        <hr class="mb-4" />
        <div style="overflow:auto;">
            <table class="table-auto w-full text-sm">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-left">
                            Patient
                        </th>
                        <th class="px-4 py-2 text-left">
                            Vaccination Date
                        </th>
                        <th class="px-4 py-2 text-left">
                            Weight
                        </th>
                        <th class="px-4 py-2 text-left">
                            Height
                        </th>
                        <th class="px-4 py-2 text-left">
                            Temperature
                        </th>
                        <th class="px-4 py-2 text-left">
                            Vaccines
                        </th>
                        <th class="width: 100%; white-space: pre; px-4 py-2">
                            Actions
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var appointment in Model.PatientRecord.VaccinationAppointments)
                    {
                                <tr class="border-b border-gray-100 hover-table-content transition duration-300 ease-in-out">
                            <td class="px-4 py-2">
                                @Html.DisplayFor(modelItem => appointment.PatientRecord.Patient.FormattedFullName)
                            </td>
                            <td class="px-4 py-2">
                                @Html.DisplayFor(modelItem => appointment.VaccinationDate)
                            </td>
                            <td class="px-4 py-2">
                                @Html.DisplayFor(modelItem => appointment.Weight)
                            </td>
                            <td class="px-4 py-2">
                                @Html.DisplayFor(modelItem => appointment.Height)
                            </td>
                            <td class="px-4 py-2">
                                @Html.DisplayFor(modelItem => appointment.Temperature)
                            </td>
                            <td class="px-4 py-2">
                                @foreach (var vaccine in appointment.VaccinationRecords)
                                {
                                    @vaccine.Vaccine.Name <br />
                                }
                            </td>
                            <!--Action Buttons-->
                            <td class=" px-4 py-2 inline-flex items-center text-lg">
                                <a asp-action="Details" asp-controller="VaccinationAppointment" asp-route-id="@appointment.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl" class="text-green-400 hover:text-green-500 mr-2">
                                    <i class="fas fa-eye"></i>
                                </a>
                                
                                <a asp-action="Edit" asp-controller="VaccinationAppointment"
                                   asp-route-id="@appointment.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl" class="text-yellow-300 hover:text-yellow-400 mr-2">
                                   <i class="fas fa-edit"></i>
                               </a>

                                <form asp-action="Delete" asp-controller="VaccinationAppointment"
                                      asp-route-id="@appointment.Id" asp-route-householdNo="@Model.HouseholdNo" class="text-red-300 hover:text-red-400">
                                    <button type="submit" class="text-red-500 hover:text-red-600 py-1 rounded-md">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-end mt-8">
        <a asp-action="Index" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-red-400 hover:bg-red-450 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 h-12 max-h-12">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("Prints/_PrintDialogWithId");
    }
}