@model DetailPregnancyAppointmentVM

@{
    ViewData["Title"] = "Details";
    Layout = "Layouts/_DetailsLayout";
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}

<div class="container mx-auto py-8">

    <div class="bg-white shadow-md rounded-lg p-8 mb-8">

        <h1 class="text-xl font-bold text-gray-800 mb-4">Pregnancy Appointment Details</h1>

        <div class="text-gray-800">
            <h4>PregnancyAppointment</h4>
            <hr class="mb-4" />
            <dl class="grid grid-cols-1 gap-y-4 gap-x-8">
                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    Patient
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.PregnancyRecord.Patient.FullName)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    Date
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.Date)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    Weight
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.Weight)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    Blood Pressure
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.BloodPressure)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    Temperature
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.Temperature)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    AOG
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.AOG)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    FH
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.FH)
                </dd>
                </div>
                
                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    FHT
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.FHT)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    TT1
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.TT1)
                </dd>
                </div>
                
                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    TT2
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.TT2)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    TT3
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.TT3)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    TT4
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.TT4)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    TT5
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.TT5)
                </dd>
                </div>

                <div class="flex items-center">
                <dt class="flex-shrink-0 mr-10 w-52 text-gray-800 font-semibold">
                    Remarks
                </dt>
                <dd class="text-gray-900">
                    @Html.DisplayFor(model => model.PregnancyAppointment.Remarks)
                </dd>
                </div>

            </dl>
        </div>
        <div class="flex justify-end mt-8">
            <a asp-action="Edit" asp-route-id="@Model?.PregnancyAppointment.Id" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-20 flex items-center justify-center">Edit</a>
            <a asp-action="Index" class="focus:outline-none text-white bg-red-400 hover:bg-red-450 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Back to List</a>
        </div>
    </div>
</div>