@model HouseholdMemberListVM

@{
    ViewData["Title"] = "Masterlist of Adolescents";
}

<h1>List of Adolescents</h1>

@Html.PartialAsync("_FormNav", Model.HouseholdNo).Result

<table class="table">
    <thead>
        <tr>
            <th>
                HH. NO/ Family Serial No.
            </th>
            <th>
                Name of Child
            </th>
            <th>
                Name of Mother
            </th>
            <th>
                Name of Father
            </th>
            <th>
                Address
            </th>
            <th>
                Sex
            </th>
            <th>
                Age
            </th>
            <th>
                Birthday
            </th>
            <th>
                NHTS
            </th>
            <th>
                In School
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HouseholdMembers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseholdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormattedFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfMother)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfFather)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Household.FullAddress);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsNhts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInSchool)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="HouseholdMember" asp-route-id="@item.Id" asp-route-requestUrl="@Model.RequestUrl">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
