@model HouseholdMemberListVM

@{
    Layout = "Layouts/_MasterlistLayout";
    ViewData["Title"] = "Masterlist of Adults";
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}


<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-8">
        <div class="flex justify-between">
            <div>
                <h1 class="text-xl">Masterlist of</h1>
                <h1 class="text-2xl font-bold text-gray-800 mb-4">Adults</h1>
            </div>

            <!--Print Button-->
            <div class="flex justify-end mb-6">
                <button type="button" onclick="print('Print', 'Masterlist', '@Model.HouseholdNo?.ToString()')" class="px-5 h-12 max-h-12 py-2.5 text-sm font-medium text-center inline-flex items-center text-white bg-blue-500 hover:bg-blue-400 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-200">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8 3a2 2 0 0 0-2 2v3h12V5a2 2 0 0 0-2-2H8Zm-3 7a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h1v-4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4h1a2 2 0 0 0 2-2v-5a2 2 0 0 0-2-2H5Zm4 11a1 1 0 0 1-1-1v-4h8v4a1 1 0 0 1-1 1H9Z" clip-rule="evenodd" />
                    </svg>
                    <span class="hidden md:inline font-medium">&nbsp; Print</span>
                </button>
            </div>
        </div>
        <hr class="mb-4" />
        <!--Table-->
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead class="bg-gray-200">
                    <tr class="bg-gray-200 text-sm">
                        <th class="px-4 py-2 text-left">HH.No.</th>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Sex</th>
                        <th class="px-4 py-2 text-left">Age</th>
                        <th class="px-4 py-2 text-left">Date of Birth</th>
                        <th class="px-4 py-2 text-left">NHTS</th>
                        <th class="px-4 py-2 text-left">Actions</th>
                    </tr>
                </thead>
                <!--Table Contents-->
                <tbody>
                    @foreach (var item in Model.HouseholdMembers)
                    {
                            <tr class="text-sm hover-table-content transition duration-300 ease-in-out border-b border-gray-100">
                            <td class="px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Household.HouseholdNo)</td>
                            <td class="px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.FormattedFullName)</td>
                            <td class="px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Sex)</td>
                            <td class="px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Age)</td>
                            <td class="px-4 py-2 text-left">@item.Birthday.ToString("MMM dd, yyyy")</td>
                            <td class="px-4 py-2 text-left">@((item.IsNhts) ? "NHTS" : "Non NHTS")</td>


                            <!--Action Button-->
                            <td class="px-4 py-2 text-left text-lg">
                                <a asp-action="AdultDetails" asp-controller="Masterlist" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl" class="text-green-400 hover:text-green-500 mr-2">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a asp-action="EditAdultInfo" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl" class="text-yellow-300 hover:text-yellow-400 mr-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button data-modal-target="popup-modal-2" data-modal-toggle="popup-modal-2" data-member-id="@item.Id" class="delete-btn text-red-300 hover:text-red-400"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("Prints/_PrintDialog");
    }
}