@using AUF.EMR.MVC.Models.PrintVM;
@model PrintChildrenMasterlistVM

@{
    ViewData["Barangay"] = Model.Barangay.BarangayName;
}

<p>Name of Barangay: @Model.Barangay.BarangayName</p>
<p>Name of Middlewife: @Model.Midwife</p>

<h6>Newborns</h6>
@foreach (var member in Model.Newborns)
{
    <p>
        @member.HouseholdNo -
        @member.FullName -
        @member.NameOfMother -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "NHTS" : "Non NHTS")
        @(member.IsInSchool == null ? "Is in school not set" : member.IsNhts.Value ? "In School" : "Out of School Youth")
    </p>
}

<h6>Infants</h6>
@foreach (var member in Model.Infants)
{
    <p>
        @member.HouseholdNo -
        @member.FullName -
        @member.NameOfMother -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "NHTS" : "Non NHTS")
        @(member.IsInSchool == null ? "Is in school not set" : member.IsNhts.Value ? "In School" : "Out of School Youth")
    </p>
}

<h6>Under-five</h6>
@foreach (var member in Model.UnderFive)
{
    <p>
        @member.HouseholdNo -
        @member.FullName -
        @member.NameOfMother -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "NHTS" : "Non NHTS")
        @(member.IsInSchool == null ? "Is in school not set" : member.IsNhts.Value ? "In School" : "Out of School Youth")
    </p>
}


<h6>SchoolAged</h6>
@foreach (var member in Model.SchoolAged)
{
    <p>
        @member.HouseholdNo -
        @member.FullName -
        @member.NameOfMother -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "NHTS" : "Non NHTS")
        @(member.IsInSchool == null ? "Is in school not set" : member.IsNhts.Value ? "In School" : "Out of School Youth")
    </p>
}

<h6>Adolescents</h6>
@foreach (var member in Model.Adolescents)
{
    <p>
        @member.HouseholdNo -
        @member.FullName -
        @member.NameOfMother -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "NHTS" : "Non NHTS")
        @(member.IsInSchool == null ? "Is in school not set" : member.IsNhts.Value ? "In School" : "Out of School Youth")
    </p>
}