@using AUF.EMR.MVC.Models.PrintVM;
@model PrintAdultsMasterlistVM

<h6>Masterlist of Senior Citizen</h6>
@foreach (var member in Model.Adults)
{
    <p>
        @member.HouseholdNo -
        @member.FullName -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "NHTS" : "Non NHTS")
    </p>
}