@model string
@using AUF.EMR.Application.Contracts.Services;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IBarangayService brgyService
@{
    var brgy = await brgyService.GetBarangay();
    var brgyName = brgy.BarangayName;
    var brgyLogo = brgy.LogoBase64String;

    var controller = (this.ViewContext.RouteData.Values["controller"] ?? "").ToString();
    var action = (this.ViewContext.RouteData.Values["action"] ?? "").ToString();
}

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-72 h-screen pt-4 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
        <ul class="space-y-2 font-medium text-sm">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group focus:bg-gray-300">
                    <img src="data:image/jpeg;charset=utf-8;base64,@brgyLogo" class="h-10 me-3" alt="Barangay Logo" />
                    <span class="self-center text-lg font-semibold sm:text-lg whitespace-nowrap">@brgyName</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="User" class="nav-link @(controller.Equals("User") && action.Equals("Index") ? "active" : "") flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group focus:bg-gray-300">
                    <svg class="w-6 h-6 nav-link @(controller.Equals("User") && action.Equals("Index") ? "active" : "text-gray-800 transition duration-75 group-hover:text-gray-900") " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z" clip-rule="evenodd" />
                    </svg>

                    <span class="ms-3">List of Employees</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Barangay" class="nav-link @(controller.Equals("Barangay") && action.Equals("Index") ? "active" : "") flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                    <svg class="w-6 h-6 nav-link @(controller.Equals("Barangay") && action.Equals("Index") ? "active" : "text-gray-800 transition duration-75 group-hover:text-gray-900") " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z" clip-rule="evenodd" />
                    </svg>
                    <span class="ms-3">Barangay Health Center Information</span>
                </a>
            </li>
        </ul>
    </div>
</aside>