@using AUF.EMR.Application.Contracts.Services;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IBarangayService brgyService
@{
    var brgy = (await @brgyService.GetBarangay());
    var user = (await UserManager.GetUserAsync(User));
}

<nav class="fixed top-0 w-full z-50 bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a asp-action="Index" asp-controller="Household" class="flex items-center space-x-3 rtl:space-x-reverse">
            @if (!string.IsNullOrEmpty(brgy.LogoBase64String))
            {
                <img class="w-8 h-8 rounded-full" src="data:image/png;base64,@brgy.LogoBase64String" alt="user photo">
            }
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">@brgy.BarangayName</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                @if (!string.IsNullOrEmpty(user.LogoBase64String))
                {
                    <img class="w-8 h-8 rounded-full" src="data:image/png;base64,@user.LogoBase64String" alt="user photo">
                }
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-gray-900 dark:text-white">@user.FullName</span>
                    <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">@user.Position</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a asp-action="UserProfile" asp-controller="User" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Summary</a>
                    </li>
                    <form asp-area="Identity" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</nav>
