@model CreateVaccinationAppointmentVM

@{
    Layout = "Layouts/_HouseholdLayout";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VaccinationAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.PatientId" value="@Model.PatientId" />
            <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdNo" />
            <input type="hidden" asp-for="PatientId" value="@Model.PatientId" />
            <div class="form-group">
                <label asp-for="Appointment.VaccinationDate" class="control-label"></label>
                <input asp-for="Appointment.VaccinationDate" class="form-control" />
                <span asp-validation-for="Appointment.VaccinationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Weight" class="control-label"></label>
                <input asp-for="Appointment.Weight" class="form-control" />
                <span asp-validation-for="Appointment.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Height" class="control-label"></label>
                <input asp-for="Appointment.Height" class="form-control" />
                <span asp-validation-for="Appointment.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Temperature" class="control-label"></label>
                <input asp-for="Appointment.Temperature" class="form-control" />
                <span asp-validation-for="Appointment.Temperature" class="text-danger"></span>
            </div>


            <button id="dropdownHelperButton" data-dropdown-toggle="dropdownHelper" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                Vaccines <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownHelper" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHelperButton">
                    @for (var i = 0; i < Model.Vaccines.Count(); i++)
                    {
                        <li>
                            <input asp-for="@Model.Vaccines[i].Id" type="hidden" />
                            <input asp-for="@Model.Vaccines[i].Name" type="hidden" />
                            <input asp-for="@Model.Vaccines[i].Description" type="hidden" />
                            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <div class="flex items-center h-5">
                                    <input asp-for="Vaccines[i].Selected" id="helper-checkbox-@i" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                </div>
                                <div class="ms-2 text-sm">
                                    <label for="helper-checkbox-@i" class="font-medium text-gray-900 dark:text-gray-300">
                                        <div>@Model.Vaccines[i].Name</div>
                                        <p id="helper-checkbox-text-@i" class="text-xs font-normal text-gray-500 dark:text-gray-300">@((Model.Vaccines[i].Description != null) ? Model.Vaccines[i].Description : "")</p>
                                    </label>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="PatientRecord" 
        asp-route-id="@Model.PatientId" asp-route-household="@Model.HouseholdNo">
        Back to List
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function() {
        $('form').submit(function () {
            var selectedVaccineIds = [];
            $('input[name="selectedVaccines]:checked').each(function () {
                selectedVaccineIds.push(parseInt($(this).val()));
            });
            $('#SelectedVaccineIndex').val(JSON.stringify(selectedVaccineIds));
        });
    });
</script>