@model CreateVaccinationAppointmentVM

@{
    Layout = "Layouts/_FormLayout";
    ViewData["Title"] = "Create";
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}

<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-8 mb-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="block mb-2 text-sm text-red-700"></div>
            <input type="hidden" asp-for="Appointment.PatientRecordId" value="@Model.RecordId" />
            <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdNo" />
            <input type="hidden" asp-for="RecordId" value="@Model.RecordId" />
            <div class="w-3/4">
                <h1 class="text-xl">Create</h1>
                <h1 class="text-2xl font-bold text-gray-800 mb-4">Vaccination Appointment</h1>
            </div>
            <hr class="mb-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div>
                    <div class="mb-4">
                        <label asp-for="Appointment.VaccinationDate" class="block mb-2 text-sm font-medium text-gray-700">Vaccination Date</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="Appointment.VaccinationDate" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="Appointment.VaccinationDate" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Appointment.Weight" class="block mb-2 text-sm font-medium text-gray-700">Weight</label>
                        <input asp-for="Appointment.Weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Appointment.Weight" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Appointment.Height" class="block mb-2 text-sm font-medium text-gray-700">Height</label>
                        <input asp-for="Appointment.Height" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Appointment.Height" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Appointment.Temperature" class="block mb-2 text-sm font-medium text-gray-700">Temperature</label>
                        <input asp-for="Appointment.Temperature" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Appointment.Temperature" class="block mb-2 text-sm text-red-700"></span>
                    </div>

                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-700">Vaccines</label>
                        <button id="dropdownHelperButton" data-dropdown-toggle="dropdownHelper" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">
                            Select Vaccine(s) <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>
                    </div>

                    <!-- Dropdown menu -->
                    <div id="dropdownHelper" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHelperButton">
                            @for (var i = 0; i < Model.Vaccines.Count(); i++)
                            {
                                <li>
                                    <input asp-for="@Model.Vaccines[i].Id" type="hidden" />
                                    <input asp-for="@Model.Vaccines[i].Name" type="hidden" />
                                    <input asp-for="@Model.Vaccines[i].Description" type="hidden" />
                                    <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <div class="flex items-center h-5">
                                            <input asp-for="Vaccines[i].Selected" id="helper-checkbox-@i" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        </div>
                                        <div class="ms-2 text-sm">
                                            <label for="helper-checkbox-@i" class="font-medium text-gray-900 dark:text-gray-300">
                                                <div>@Model.Vaccines[i].Name</div>
                                                <p id="helper-checkbox-text-@i" class="text-xs font-normal text-gray-500 dark:text-gray-300">@((Model.Vaccines[i].Description != null) ? Model.Vaccines[i].Description : "")</p>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-4">
                <a asp-action="Details" asp-controller="PatientRecord" asp-route-id="@Model.RecordId" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-red-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 hover:bg-red-450 !important">Back</a>
                <button type="submit" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Add</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
