@model string

<a asp-action="Newborn" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of Newborns</a>
<a asp-action="Infant" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of Infants</a>
<a asp-action="UnderFive" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of Under-five Children</a>
<a asp-action="UnderFive" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of Under-five Children</a>
<a asp-action="SchoolAged" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of School-aged Children</a>
<a asp-action="Adolescent" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of Adolescents</a>
<a asp-action="Adult" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of Adults</a>
<a asp-action="SeniorCitizen" asp-controller="Masterlist" asp-route-householdNo="@Model">MasterList of Senior Citizens</a>
<br />
<a asp-action="Infant" asp-controller="OralHealthClient" asp-route-householdNo="@Model">Infant Oral Health Client</a>
<a asp-action="OneToFour" asp-controller="OralHealthClient" asp-route-householdNo="@Model">1-4 Oral Health Client</a>
<a asp-action="FiveToNine" asp-controller="OralHealthClient" asp-route-householdNo="@Model">5-9 Oral Health Client</a>
<a asp-action="TenToFourteen" asp-controller="OralHealthClient" asp-route-householdNo="@Model">10-14 Oral Health Client</a>
<a asp-action="FifteenToNineteen" asp-controller="OralHealthClient" asp-route-householdNo="@Model">15-19 Oral Health Client</a>
<a asp-action="TwentyToFourtynine" asp-controller="OralHealthClient" asp-route-householdNo="@Model">20-49 Oral Health Client</a>
<a asp-action="PregnantFifteenToNineteen" asp-controller="OralHealthClient" asp-route-householdNo="@Model">Pregnant 15-19 Oral Health Client</a>
<a asp-action="PregnantTwentyToFourtynine" asp-controller="OralHealthClient" asp-route-householdNo="@Model">Pregnant 20-49 Oral Health Client</a>
<br />
<a asp-action="Index" asp-controller="WRA" asp-route-householdNo="@Model">List of Women of Reproductive Age</a>
<br />
<a asp-action="Index" asp-controller="PregnancyTracking" asp-route-householdNo="@Model">List of National Safe Motherhood Program</a>
<br />
<a asp-action="Index" asp-controller="FamilyPlanning" asp-route-householdNo="@Model">Family Planning Records</a>
<br />
<a asp-action="Index" asp-controller="PatientRecord" asp-route-householdNo="@Model">Patient Records</a>