@model CreateHouseholdProfileVM

@{
    ViewData["Title"] = "Details";
    ViewData["Barangay"] = Model.Barangay.BarangayName;
}

<h1>Details</h1>

<div>
    <h4>HouseHold</h4>
    <hr />
    <div>
        <p>Household No.: @Model.Household.HouseholdNo</p>
    </div>
    <hr />
    <div class="row">
        <p class="col-3">1a. First Quarter: Date of Visit: @Html.DisplayFor(m => m.Household.FirstQtrVisit)</p>
        <p class="col-3">1b. Second Quarter: Date of Visit: @Html.DisplayFor(m => m.Household.SecondQtrVisit)</p>
        <p class="col-3">1c. Third Quarter: Date of Visit: @Html.DisplayFor(m => m.Household.ThirdQtrVisit)</p>
        <p class="col-3">1d. Fourth Quarter: Date of Visit: @Html.DisplayFor(m => m.Household.FourthQtrVisit)</p>
    </div>
    <hr />
    <div class="row">
        <p class="col-3">2. Name of Respondent:</p>
        <p class="col-3">LastName: @Html.DisplayFor(m => m.Household.LastName)</p>
        <p class="col-3">First Name: @Html.DisplayFor(m => m.Household.FirstName)</p>
        <p class="col-3">Mother's Maiden Name: @Html.DisplayFor(m => m.Household.MotherMaidenName)</p>
    </div>
    <div class="row">
        <div class="col-6 row">
            <p class="col-4">3. NHTS Household:</p>
            <label class="col-4">
                <input type="checkbox" disabled="disabled" @(Model.Household.IsNHTS ? "checked" : "") /> NHTS
            </label>
            <label class="col-4">
                <input type="checkbox" disabled="disabled" @(Model.Household.IsNHTS ? "" : "checked") /> Non NHTS
            </label>
            <div class="col-6 row">
                <label class="col">
                    4. <input type="checkbox" disabled="disabled" @(Model.Household.IsIP ? "checked" : "") /> IP
                </label>
                <label class="col">
                    <input type="checkbox" disabled="disabled" @(Model.Household.IsNHTS ? "" : "checked") /> Non-IP
                </label>
            </div>
        </div>
        <div class="col row">
            <p class="col-12">5. HH Head Philhealth Member?</p>
            <label class="col-6">
                <input type="checkbox" disabled="disabled" @(Model.Household.IsHeadPhilhealthMember ? "" : "checked") /> No
            </label>
            <label class="col-6">
                <input type="checkbox" disabled="disabled" @(Model.Household.IsHeadPhilhealthMember ? "checked" :"") />
                Yes, Philhealth ID No. @Html.DisplayFor(m => m.Household.PhilhealthNo)
            </label>
            <div class="col-6">
                <p class="col-6">Category: @Html.DisplayFor(m => m.Household.Category)</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        @foreach (var member in Model.HouseholdMembers)
        {
            <p class="col-3">@member.FullName</p>
            <p class="col-1">@member.RelationshipToHouseholdHead @member.OtherRelation</p>
            <p class="col-1">@member.Sex</p>
            <p class="col-2">@member.Birthday</p>
            <p class="col-1">@member.FirstQtrClassification</p>
            <p class="col-1">@member.SecondQtrClassification</p>
            <p class="col-1">@member.ThirdQtrClassification</p>
            <p class="col-1">@member.FourthQtrClassification</p>
            <p class="col-1">@member.Remarks</p>
            <hr />
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Household.Id">Edit</a> |
    <a asp-action="HouseholdProfile" asp-route-householdNo="@Model.Household.HouseholdNo">Back to List</a>
</div>
