@model CreateHouseholdProfileVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HouseHold</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.HouseholdNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.HouseholdNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.FirstQtrVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.FirstQtrVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.SecondQtrVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.SecondQtrVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.ThirdQtrVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.ThirdQtrVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.FourthQtrVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.FourthQtrVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.MotherMaidenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.MotherMaidenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.HouseNoAndStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.HouseNoAndStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.Barangay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.Barangay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.IsNHTS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.IsNHTS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.IsHeadPhilhealthMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.IsHeadPhilhealthMember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.PhilhealthNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.PhilhealthNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Household.IsIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Household.IsIP)
        </dd>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Household.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
