@model CreateHouseholdProfileVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HouseHold</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Household.HouseholdNo" class="control-label"></label>
                <input asp-for="Household.HouseholdNo" class="form-control" />
                <span asp-validation-for="Household.HouseholdNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.FirstQtrVisit" class="control-label"></label>
                <input asp-for="Household.FirstQtrVisit" class="form-control" />
                <span asp-validation-for="Household.FirstQtrVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.SecondQtrVisit" class="control-label"></label>
                <input asp-for="Household.SecondQtrVisit" class="form-control" />
                <span asp-validation-for="Household.SecondQtrVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.ThirdQtrVisit" class="control-label"></label>
                <input asp-for="Household.ThirdQtrVisit" class="form-control" />
                <span asp-validation-for="Household.ThirdQtrVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.FourthQtrVisit" class="control-label"></label>
                <input asp-for="Household.FourthQtrVisit" class="form-control" />
                <span asp-validation-for="Household.FourthQtrVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.LastName" class="control-label"></label>
                <input asp-for="Household.LastName" class="form-control" />
                <span asp-validation-for="Household.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.FirstName" class="control-label"></label>
                <input asp-for="Household.FirstName" class="form-control" />
                <span asp-validation-for="Household.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.MotherMaidenName" class="control-label"></label>
                <input asp-for="Household.MotherMaidenName" class="form-control" />
                <span asp-validation-for="Household.MotherMaidenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.HouseNoAndStreet" class="control-label"></label>
                <input asp-for="Household.HouseNoAndStreet" class="form-control" />
                <span asp-validation-for="Household.HouseNoAndStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.Barangay" class="control-label"></label>
                <input asp-for="Household.Barangay" class="form-control" />
                <span asp-validation-for="Household.Barangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.City" class="control-label"></label>
                <input asp-for="Household.City" class="form-control" />
                <span asp-validation-for="Household.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.Province" class="control-label"></label>
                <input asp-for="Household.Province" class="form-control" />
                <span asp-validation-for="Household.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.ContactNo" class="control-label"></label>
                <input asp-for="Household.ContactNo" class="form-control" />
                <span asp-validation-for="Household.ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Household.IsNHTS" /> @Html.DisplayNameFor(model => model.Household.IsNHTS)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Household.IsHeadPhilhealthMember" /> @Html.DisplayNameFor(model => model.Household.IsHeadPhilhealthMember)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Household.PhilhealthNo" class="control-label"></label>
                <input asp-for="Household.PhilhealthNo" class="form-control" />
                <span asp-validation-for="Household.PhilhealthNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.Category" class="control-label"></label>
                <input asp-for="Household.Category" class="form-control" />
                <span asp-validation-for="Household.Category" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Household.IsIP" /> @Html.DisplayNameFor(model => model.Household.IsIP)
                </label>
            </div>
            <input type="hidden" asp-for="Household.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Household Member</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.MotherMaidenName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.RelationshipToHouseholdHead)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.Birthday)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.FirstQtrClassification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.SecondQtrClassification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.ThirdQtrClassification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.FourthQtrClassification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseholdMember.Remarks)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Household)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HouseholdMembers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherMaidenName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelationshipToHouseholdHead)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstQtrClassification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecondQtrClassification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThirdQtrClassification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FourthQtrClassification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HouseholdNo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="HouseHoldMember" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-controller="HouseHoldMember" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-controller="HouseHoldMember" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Create" asp-controller="HouseHoldMember" 
            asp-route-householdNo="@Model.Household.HouseholdNo">Add Member</a>
    </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
