@model HouseholdProfileVM

@{
    ViewData["Title"] = "Index";
}

<h1>F1 - Household Profile</h1>

@Html.PartialAsync("_FormNav", Model.HouseholdNo).Result

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Household.HouseholdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.MotherMaidenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.HouseNoAndStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.Barangay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household.ContactNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Households)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseholdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotherMaidenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNoAndStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Barangay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
