@model HouseholdVM

@{
    ViewData["Title"] = "Index";
    ViewData["Barangay"] = Model.Barangay.BarangayName;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Barangay" asp-controller="Dashboard">See Barangay Summary</a>
</p>
<form asp-action="Index">
    <div class="input-group md-form form-sm form-2 pl-0">
        <input name="query" class="form-control my-0 py-1" type="text" placeholder="Search House Hold No. or Name" />
        <div class="input-group-append">
            <span class="input-group-text list-group-numbered lighten-3" id="search-text">
                <i class="fas fa-search text-grey" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                HouseholdNo
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                ContactNo
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Households)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseholdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="HouseholdProfile" asp-route-householdNo="@item.HouseholdNo">View Household</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("#search-text").click(function () {
                $("Form").submit();
            });
        });
    </script>
}