@model HouseholdMemberListVM

@{
    Layout = "Layouts/_FormLayout";
    ViewData["Title"] = "Masterlist of Oral Health Care Clients - 15 to 19 years old";
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}

<style>
    .custom-hover-bg-color:hover {
        background-color: #f1eff4
    }
</style>


<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-8">Masterlist of Oral Health Care Clients - 15 to 19 years old</h1>

    <div class="flex justify-end mb-6">
        <button type="button" onclick="print('Print', 'OralHealthClient', @Model.HouseholdNo)"
                class="flex-shrink-0 inline-block bg-primary-50 hover:bg-primary-300 text-white font-medium py-3 px-6 rounded-lg transition duration-300 ease-in-out">
            Print Masterlist
        </button>
    </div>

    <div class="flex justify-between items-center mb-8">
        <div class="flex-1 mr-4 relative">
            <input type="text" class="w-full bg-white shadow-md rounded-lg p-3 pr-10 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-green-200 border-none"
                   placeholder="Search...">
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                <svg class="h-5 w-5 text-gray-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path d="M21 21l-5.2-5.2m.8-.8a8 8 0 1 1-10.6-10.6 8 8 0 0 1 10.6 10.6z"></path>
                </svg>
            </div>
        </div>
        <!--Search Button-->
        <button type="submit"
                class="inline-flex items-center py-3 px-3 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>

            Search
        </button>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8">
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead>
                    <tr class="bg-gray-200 text-sm">
                        <th class="px-4 py-2 text-left">Family Serial No.</th>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Address</th>
                        <th class="px-4 py-2 text-left">Sex</th>
                        <th class="px-4 py-2 text-left">Age</th>
                        <th class="px-4 py-2 text-left">Date of Birth</th>
                        <th class="px-4 py-2 text-left">SE Status</th>
                        <th class="px-4 py-2 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HouseholdMembers)
                    {
                        <tr class="text-sm hover-household transition duration-300 ease-in-out">
                            <td class="border-b border-gray-100 px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Household.HouseholdNo)</td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.FormattedFullName)</td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Household.FullAddress)</td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Sex)</td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Age)</td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">@Html.DisplayFor(modelItem => item.Birthday)</td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                <input type="checkbox" disabled @(item.IsNhts ? "checked" : "") />
                            </td>
                            <td class="border-b border-gray-100 px-4 py-2 text-left">
                                <a asp-action="EditOralHealthInfo" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl" class="text-yellow-300 hover:text-yellow-400 mr-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" asp-route-householdNo="@Model.HouseholdNo" asp-route-requestUrl="@Model.RequestUrl" class="text-green-400 hover:text-green-500 mr-2">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="text-red-300 hover:text-red-400">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
