@model HouseholdMemberListVM

@{
    ViewData["Title"] = "Masterlist of Oral Health Care Clients - 1 to 4 years old";
    ViewData["Barangay"] = Model.Barangay.BarangayName;
}

<h1>Masterlist of Oral Health Care Clients - 1 to 4 years old</h1>
<a asp-action="Print" asp-route-requestUrl="@Model.RequestUrl" asp-route-householdNo="@Model.HouseholdNo">Print Masterlist</a>
<br />

@Html.PartialAsync("_FormNav", Model.HouseholdNo).Result

<table class="table">
    <thead>
        <tr>
            <th>
                Family Serial No.
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Sex
            </th>
            <th>
                Age
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                SE Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HouseholdMembers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseholdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormattedFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Household.FullAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsNhts)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="HouseholdMember" asp-route-id="@item.Id" asp-route-requestUrl="@Model.RequestUrl">Edit</a> |
                    <a asp-action="Details" asp-controller="HouseholdMember" asp-route-id="@item.Id" asp-route-requestUrl="@Model.RequestUrl">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
