@using AUF.EMR.MVC.Models.PrintVM;
@model PrintOralListVM

@{

}

<h2>Masterlist of Oral Health Clients</h2>

<h6>0-11 months old infants</h6>
@foreach (var member in Model.Infants) {
    <p>
        @member.HouseholdNo -
        @member.FormattedFullName -
        @member.Household.FullAddress -
        @member.Sex - 
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "1" : "2")
    </p>
}

<h6>1-4 years old (12-59 months old) children</h6>
@foreach (var member in Model.OneToFour)
{
    <p>
        @member.HouseholdNo -
        @member.FormattedFullName -
        @member.Household.FullAddress -
        @member.Sex - 
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "1" : "2")
    </p>
}

<h6>5-9 years old children</h6>
@foreach (var member in Model.FiveToNine)
{
    <p>
        @member.HouseholdNo -
        @member.FormattedFullName -
        @member.Household.FullAddress -
        @member.Sex - 
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "1" : "2")
    </p>
}

<h6>10-14 years old adolescents</h6>
@foreach (var member in Model.TenToFourteen)
{
    <p>
        @member.HouseholdNo -
        @member.FormattedFullName -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "1" : "2")
    </p>
}

<h6>Pregnant women 15-19 years old</h6>
@foreach (var member in Model.PregnantFifteenToNineteen)
{
    <p>
        @member.HouseholdNo -
        @member.FormattedFullName -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "1" : "2")
    </p>
}

<h6>Pregnant women 20-49 years old</h6>
@foreach (var member in Model.PregnantTwentyToFourtyNine)
{
    <p>
        @member.HouseholdNo -
        @member.FormattedFullName -
        @member.Household.FullAddress -
        @member.Sex -
        @member.Age -
        @member.Birthday -
        @(member.IsNhts == null ? "NHTS not set" : member.IsNhts.Value ? "1" : "2")
    </p>
}