@model DashboardVM

@{
    Layout = "Layouts/_HouseholdLayout";
}

<main class="mt-8 flex justify-center items-center">
    <div class="mx-4">
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <h2 class="text-lg font-medium">Ninoy Aquino Health Center Demographics</h2>
            </div>
            <div class="col-span-12">
                <div class="col-span-12 mt-5 flex flex-col lg:flex-row gap-2">
                    <div class="bg-white shadow-lg rounded-lg p-4 flex-1" id="chartline"></div>
                    <div class="bg-white shadow-lg rounded-lg p-4 flex-1" id="chartpie"></div>
                </div>
            </div>
            <div class="col-span-12 grid grid-cols-7 sm:grid-cols-7 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 2xl:grid-cols-7 gap-2">
                <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg" style="background-color: #6691C1" href="#">
                    <div class="p-5">
                        <div class="flex justify-between">
                            <div class="rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-lg" style="background-color: #3C5C80">
                                <span class="flex items-center" style="color: #DED7D7">N</span>
                            </div>
                        </div>
                        <div class="ml-2 w-full flex-1">
                            <div>
                                <div class="mt-3 text-4xl font-semibold leading-8" style="color:#F7F6F6">@Model.NewbornCount</div>
                                <div class="mt-1 text-2xl text-gray-600" style="color:#F7F6F6">Newborn</div>
                                <div class="mt-1 text-base text-gray-600" style="color:#F7F6F6">0 - 28 days</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg" style="background-color: #AFCAFC" href="#">
                    <div class="p-5">
                        <div class="flex justify-between">
                            <div class="rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-lg" style="background-color: #3C5C80">
                                <span class="flex items-center" style="color: #DED7D7">I</span>
                            </div>
                        </div>
                        <div class="ml-2 w-full flex-1">
                            <div>
                                <div class="mt-3 text-4xl font-semibold leading-8" style="color:#24384E">@Model.InfantCount</div>
                                <div class="mt-1 text-2xl text-gray-600" style="color:#24384E">Infant</div>
                                <div class="mt-1 text-base text-gray-600" style="color:#24384E">29 days - 11 mos. old</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg" style="background-color: #D2E0FB" href="#">
                    <div class="p-5">
                        <div class="flex justify-between">
                            <div class="rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-lg" style="background-color: #3C5C80">
                                <span class="flex items-center" style="color: #DED7D7">U</span>
                            </div>
                        </div>
                        <div class="ml-2 w-full flex-1">
                            <div>
                                <div class="mt-3 text-4xl font-semibold leading-8" style="color:#24384E">@Model.UnderFiveCount</div>
                                <div class="mt-1 text-2xl text-gray-600" style="color:#24384E">Under-five</div>
                                <div class="mt-1 text-base text-gray-600" style="color:#24384E">1 - 4 years old</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg" style="background-color: #E8E3C9"href="#">
                    <div class="p-5">
                        <div class="flex justify-between">
                            <div class="rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-lg" style="background-color: #A49E83">
                                <span class="flex items-center" style="color: #EEE9E9">S</span>
                            </div>
                        </div>
                        <div class="ml-2 w-full flex-1">
                            <div>
                                <div class="mt-3 text-4xl font-semibold leading-8" style="color:#24384E">@Model.SchoolAgedCount</div>
                                <div class="mt-1 text-2xl text-gray-600" style="color:#24384E">School-aged</div>
                                <div class="mt-1 text-base text-gray-600" style="color:#24384E">5 - 9 years old</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg" style="background-color: #D0ECB6" href="#">
                    <div class="p-5">
                        <div class="flex justify-between">
                            <div class="rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-lg" style="background-color: #829D69">
                                <span class="flex items-center" style="color: #EEE9E9">A</span>
                            </div>
                        </div>
                        <div class="ml-2 w-full flex-1">
                            <div>
                                <div class="mt-3 text-4xl font-semibold leading-8" style="color:#24384E">@Model.AdolescentsCount</div>
                                <div class="mt-1 text-2xl text-gray-600" style="color:#24384E">Adolescents</div>
                                <div class="mt-1 text-base text-gray-600" style="color:#24384E">10 - 19 years old</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg" style="background-color: #BEE39B" href="#">
                    <div class="p-5">
                        <div class="flex justify-between">
                            <div class="rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-lg" style="background-color: #829D69">
                                <span class="flex items-center" style="color: #EEE9E9">AB</span>
                            </div>
                        </div>
                        <div class="ml-2 w-full flex-1">
                            <div>
                                <div class="mt-3 text-4xl font-semibold leading-8" style="color:#24384E">@Model.AdultCount</div>
                                <div class="mt-1 text-2xl text-gray-600" style="color:#24384E">Adult</div>
                                <div class="mt-1 text-base text-gray-600" style="color:#24384E">25 - 59 years old</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg" style="background-color: #ACCB8F" href="#">
                    <div class="p-5">
                        <div class="flex justify-between">
                            <div class="rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-lg" style="background-color: #829D69">
                                <span class="flex items-center" style="color: #EEE9E9">SC</span>
                            </div>
                        </div>
                        <div class="ml-2 w-full flex-1">
                            <div>
                                <div class="mt-3 text-4xl font-semibold leading-8" style="color:#F7F6F6">@Model.SeniorCount</div>
                                <div class="mt-1 text-2xl text-gray-600" style="color:#F7F6F6">Senior C.</div>
                                <div class="mt-1 text-base text-gray-600" style="color:#F7F6F6">60 yrs. old & above</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>

<p>Household today: @Model.HouseholdCount</p>
<p>Household -1 day: @Model.HHCount1</p>
<p>Household -2 day: @Model.HHCount2</p>
<p>Household -3 day: @Model.HHCount3</p>
<p>Household -4 day: @Model.HHCount4</p>
<p>Household -5 day: @Model.HHCount5</p>
<p>Household -6 day: @Model.HHCount6</p>
<p>Household -7 day: @Model.HHCount7</p>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var chart = document.querySelector('#chartline');
    
    // Generate date labels for the past week
    var currentDate = new Date();
    var dateLabels = [];
    for (var i = 6; i >= 0; i--) {
        var date = new Date(currentDate);
        date.setDate(currentDate.getDate() - i);
        var formattedDate = date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
        dateLabels.push(formattedDate);
    }
    
    var options = {
        series: [{
            name: "Number of Households",
            data: [10, 41, 35, 51, 49, 62, 69],
            color: '#ACCB8F'
        }],
        chart: {
            height: 350,
            type: 'line',
            fontFamily: 'Poppins',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            style: {
                color: '#333333',
                fontFamily: 'Poppins'
            },
            enabled: false
        },
        stroke: {
            curve: 'straight',
            colors: '#ACCB8F'
        },
        title: {
            style: {
                fontSize: '20px',
                fontWeight: 'bold',
                color: '#333333',
                fontFamily: 'Poppins'
            },
            text: 'Total number of households for the past week',
            align: 'left'
        },
        subtitle: {
            style: {
                fontSize: '14px',
                color: '#333333',
                fontFamily: 'Poppins'
            },
            text: 'Patients from ' + dateLabels[0] + ' - ' + dateLabels[6],
            align: 'left'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5
            },
        },
        xaxis: {
            categories: dateLabels,
            labels: {
                style: {
                    fontFamily: 'Poppins' 
                }
            }
        }
    };
    
    var chartInstance = new ApexCharts(chart, options);
    chartInstance.render();
</script>

<div id="chartpie"></div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var chart = document.querySelector('#chartpie');
    var seriesData = [@Model.NewbornCount, @Model.InfantCount, @Model.UnderFiveCount, @Model.SchoolAgedCount, @Model.AdolescentsCount, @Model.AdultCount, @Model.SeniorCount];
    var totalSum = seriesData.reduce((acc, val) => acc + val, 0);

    var options = {
        series: seriesData,
        chart: {
            height: 370,
            type: 'pie',
        },
        labels: ['Newborn', 'Infant', 'Under-five', 'School-aged', 'Adolescents', 'Adult', 'Senior C.'],
        colors: ['#6691C1', '#AFCAFC', '#D2E0FB', '#E8E3C9', '#D0ECB6', '#BEE39B', '#ACCB8F'],
        title: {
            text: 'Total Number of Households',
            align: 'center',
            margin: 5,
            offsetX: 0,
            offsetY: 10,
            floating: false,
            style: {
                fontSize: '20px',
                fontWeight: 'bold',
                color: '#333333',
                fontFamily: 'Poppins'
            },
        },
        subtitle: {
            text: 'Total: ' + totalSum, 
            align: 'center',
            margin: 10,
            offsetY: 38,
            style: {
                fontSize: '14px',
                color: '#333333',
                fontFamily: 'Poppins'
            }
        },
        plotOptions: {
            pie: {
                style: {
                    fontFamily: 'Poppins'
                },
                dataLabels: {
                    enabled: false,
                    formatter: function (val, opts) {
                        return opts.w.globals.labels[opts.seriesIndex] + ": " + val
                    },
                    style: {
                        fontSize: '16px',
                        color: '#333333',
                        fontFamily: 'Poppins'
                    }
                }
            }
        },
        legend: {
            show: true,
            position: 'bottom',
            horizontalAlign: 'center',
            verticalAlign: 'middle',
            floating: false,
            fontSize: '14px',
            offsetY: 10,
            color: '#333333',
            fontFamily: 'Poppins'
        },
        tooltip: {
            enabled: true,
            style: {
                fontFamily: 'Poppins'
            },
            y: {
                formatter: function (val) {
                    return val
                },
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    height: 300
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var chart = new ApexCharts(chart, options);
    chart.render();


</script>



