@model DashboardVM

@{

}

<p>Household Member #: @Model.HouseholdMemberCount</p>
<p>Newborns #: @Model.NewbornCount</p>
<p>Infant #: @Model.InfantCount</p>
<p>Under Five #: @Model.UnderFiveCount</p>
<p>School Aged #: @Model.SchoolAgedCount</p>
<p>Adolescent #: @Model.AdolescentsCount</p>
<p>Adult #: @Model.AdultCount</p>
<p>Senior Citizen #: @Model.SeniorCount</p>