@model IEnumerable<AUF.EMR.Domain.Models.MasterlistChildren>

@{
    ViewData["Title"] = "Index";
}

<h1>Masterlist </h1>

<p>
    <a asp-action="Create" asp-route-householdNo="1235">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name of Child
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfMother)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfFather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNhts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseholdMember)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseholdMember.LastName),
                @Html.DisplayFor(modelItem => item.HouseholdMember.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfMother)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfFather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNhts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseholdMember.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
