@using AUF.EMR.MVC.Models.DetailVM;
@model DetailHouseholdMemberVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HouseholdMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.MotherMaidenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.MotherMaidenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.RelationshipToHouseholdHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.RelationshipToHouseholdHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.OtherRelation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.OtherRelation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.FirstQtrClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.FirstQtrClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.SecondQtrClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.SecondQtrClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.ThirdQtrClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.ThirdQtrClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.FourthQtrClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.FourthQtrClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.NameOfMother)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.NameOfMother)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.NameOfFather)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.NameOfFather)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.IsNhts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.IsNhts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdMember.IsInSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdMember.IsInSchool)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HouseholdMember.Id">Edit</a> |
    <a href="@Model.ReturnUrl">Back to List</a>
</div>
