@model HouseholdMemberListVM
@{
    ViewData["Title"] = "Index";
}

<h1>Household member of household #: @Model.Household.HouseholdNo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                LastName
            </th>
            <th>
                FirstName
            </th>
            <th>
                MotherMaidenName
            </th>
            <th>
                RelationshipToHouseholdHead
            </th>
            <th>
               Sex
            </th>
            <th>
               Age
            </th>
            <th>
                Birthday
            </th>
            <th>
                FirstQtrClassification
            </th>
            <th>
                SecondQtrClassification
            </th>
            <th>
                ThirdQtrClassification
            </th>
            <th>
                FourthQtrClassification
            </th>
            <th>
                Remarks
            </th>
            <th>
                Household
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HouseholdMembers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherMaidenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationshipToHouseholdHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstQtrClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondQtrClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdQtrClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourthQtrClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Household.Barangay)
            </td>
        </tr>
}
    </tbody>
</table>
