@model DetailUserVM

@{
    if (string.IsNullOrWhiteSpace(Model.HouseholdNo))
    {
        Layout = "Layouts/_ProfileLayout";
    }
    else
    {
        Layout = "Layouts/_FormLayout";
    }
    ViewData["HouseholdNo"] = Model.HouseholdNo;
}

<div class="bg-white w-full flex flex-col gap-5 px-3 md:px-16 lg:px-28 md:flex-row text-[#161931] rounded-lg">
    <main class="w-full min-h-screen py-1 md:w-2/3 lg:w-3/4 rounded">
        <div class="p-2 md:p-4">
            <div class="w-full px-6 pb-8 mt-8 sm:max-w-xl sm:rounded-lg">
                <div class="grid max-w-2xl mx-auto mt-8 rounded">
                    <div class="flex flex-col items-center space-y-5 sm:flex-row sm:space-y-0">
                        @if (!string.IsNullOrEmpty(Model.User.LogoBase64String))
                        {
                            <img src="data:image/png;base64,@Model.User.LogoBase64String" alt="Logo" width="100" height="100" class=" w-40 h-40 p-1 rounded-full ring-2 ring-gray-200">
                        }
                    </div>

                    <div class="items-center mt-8 sm:mt-14 text-[#202142]">
                        <div
                            class="flex flex-col items-center w-full mb-2 space-x-0 space-y-2 sm:flex-row sm:space-x-4 sm:space-y-0 sm:mb-6">
                            <div class="w-full">
                                <label for="first_name"
                                    class="block mb-2 text-sm font-medium text-black-900 dark:text-white">First Name</label>
                                <input type="text" id="first_name"
                                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder="First Name" value="@Model.User.FirstName" disabled>
                            </div>
                            <div class="w-full">
                                <label for="middle_name"
                                       class="block mb-2 text-sm font-medium text-black-900 dark:text-white">Middle Name</label>
                                <input type="text" id="last_name"
                                       class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                       placeholder="Middle Name" value="@Model.User.MiddleName" disabled>
                            </div>
                            <div class="w-full">
                                <label for="last_name"
                                    class="block mb-2 text-sm font-medium text-black-900 dark:text-white">Last Name</label>
                                <input type="text" id="last_name"
                                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                       placeholder="Last Name" value="@Model.User.LastName" disabled>
                            </div>
                        </div>
                        <div class="flex flex-col items-center w-full mb-2 space-x-0 space-y-2 sm:flex-row sm:space-x-4 sm:space-y-0 sm:mb-6 mt-6">
                            <div class="w-full">
                                <label for="contact_number"
                                       class="block mb-2 text-sm font-medium text-black-900 dark:text-white">Contact No.</label>
                                <input type="text" id="contact_number"
                                       class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                       placeholder="Contact No." value="@Model.User.ContactNo" disabled>
                            </div>
                            <div class="w-full">
                                <label for="birth_date"
                                       class="block mb-2 text-sm font-medium text-black-900 dark:text-white">Date of Birth</label>
                                <input type="text" id="birth_date"
                                       class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                       placeholder="Contact No." value="@Model.User.Birthday" disabled>
                            </div>
                        </div>

                        <div class="mb-2 sm:mb-6 mt-6">
                            <label for="address"
                                class="block mb-2 text-sm font-medium text-black-900 dark:text-white">
                                Address</label>
                            <input type="text" id="address"
                                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                   placeholder="Address" value="@Model.User.Address" disabled>
                        </div>

                        <div class="mb-2 sm:mb-6 mt-6">
                            <label for="profession"
                                class="block mb-2 text-sm font-medium text-black-900 dark:text-white">Position</label>
                            <input type="text" id="profession"
                                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                                   placeholder="Position" value="@Model.User.Position" disabled>
                        </div>
                    </div>
                    
                </div>
                <div class="flex justify-end mt-10">
                    <a asp-action="Index" asp-controller="Household" class="focus:outline-none text-white bg-red-400 hover:bg-red-450 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Home</a>
@*                     <button type="submit"
                            class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 text-center">
                        Save
                    </button> *@
                </div>
            </div>
        </div>
    </main>
</div>