@model CreateWRAVM

@{
    Layout = "Layouts/_HouseholdLayout";
    Layout = "Layouts/_FormLayout";
    ViewData["Title"] = "Create";
}

<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-8 mb-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1 class="text-xl md:text-3xl font-bold text-gray-800 mb-4">Add Woman of Reproductive Age</h1>
            <hr class="mb-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">



             </div>
            <div class="form-group">
                <label asp-for="WRA.HouseholdMemberId" class="control-label">Household Member ID</label>
                <select asp-for="WRA.HouseholdMemberId" class="form-control" asp-items="@(new SelectList(Model.WomenInHousehold, nameof(HouseholdMember.Id), nameof(HouseholdMember.FormattedFullName)))"></select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdNo" />
            </div>
            <div class="form-group">
                <label asp-for="WRA.CivilStatus" class="control-label">Civil Status</label>
                <input asp-for="WRA.CivilStatus" class="form-control" />
                <span asp-validation-for="WRA.CivilStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WRA.IsPlanningChildren" /> @Html.DisplayNameFor(model => model.WRA.IsPlanningChildren)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WRA.IsPlanChildrenNow" class="control-label"></label>
                <input asp-for="WRA.IsPlanChildrenNow" class="form-control" />
                <span asp-validation-for="WRA.IsPlanChildrenNow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WRA.IsPlanChildrenSpacing" class="control-label"></label>
                <input asp-for="WRA.IsPlanChildrenSpacing" class="form-control" />
                <span asp-validation-for="WRA.IsPlanChildrenSpacing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WRA.IsPlanChildrenLimiting" class="control-label"></label>
                <input asp-for="WRA.IsPlanChildrenLimiting" class="form-control" />
                <span asp-validation-for="WRA.IsPlanChildrenLimiting" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WRA.IsFecund" /> @Html.DisplayNameFor(model => model.WRA.IsFecund)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WRA.IsFPMethod" /> @Html.DisplayNameFor(model => model.WRA.IsFPMethod)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WRA.IsFPModern" class="control-label"></label>
                <input asp-for="WRA.IsFPModern" class="form-control" />
                <span asp-validation-for="WRA.IsFPModern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WRA.ShiftToModern" class="control-label"></label>
                <input asp-for="WRA.ShiftToModern" class="form-control" />
                <span asp-validation-for="WRA.ShiftToModern" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WRA.IsMFPUnmet" /> @Html.DisplayNameFor(model => model.WRA.IsMFPUnmet)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WRA.AcceptModernFpMethod" /> @Html.DisplayNameFor(model => model.WRA.AcceptModernFpMethod)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WRA.ModernFPMethod" class="control-label"></label>
                <input asp-for="WRA.ModernFPMethod" class="form-control" />
                <span asp-validation-for="WRA.ModernFPMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WRA.FPAcceptedDate" class="control-label"></label>
                <input asp-for="WRA.FPAcceptedDate" class="form-control" />
                <span asp-validation-for="WRA.FPAcceptedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-householdNo="@Model.HouseholdNo">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
