@using AUF.EMR.Application.Utilities;
@using AUF.EMR.Domain.Models.Enums;
@model CreatePregnancyTrackingVM

@{
    ViewData["HouseholdNo"] = Model.HouseholdNo;
    Layout = "Layouts/_FormLayout";
    ViewData["Title"] = "Create";
}

<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-8 mb-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="block mb-2 text-sm text-red-700"></div>
            <div class="mb-4">
                <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdNo" />
            </div>
            <h1 class="text-xl md:text-3xl font-bold text-gray-800 mb-4">Add Pregnancy Tracking</h1>
            <hr class="mb-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.HouseholdMemberId" class="block mb-2 text-sm font-medium text-gray-700">Household Member ID</label>
                        <select asp-for="PregnancyTracking.HouseholdMemberId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" asp-items="@(new SelectList(Model.WomenInHousehold, nameof(HouseholdMember.Id), nameof(HouseholdMember.FormattedFullName)))"></select>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.Age" class="block mb-2 text-sm font-medium text-gray-700">Age</label>
                        <input asp-for="PregnancyTracking.Age" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.Age" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.Gravidity" class="block mb-2 text-sm font-medium text-gray-700">Gravidity</label>
                        <input asp-for="PregnancyTracking.Gravidity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.Gravidity" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.Parity" class="block mb-2 text-sm font-medium text-gray-700">Parity</label>
                        <input asp-for="PregnancyTracking.Parity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.Parity" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.ExpectedDateOfDelivery" class="block mb-2 text-sm font-medium text-gray-700">Expected Date of Delivery</label>
                        <input asp-for="PregnancyTracking.ExpectedDateOfDelivery" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.ExpectedDateOfDelivery" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.FirstAntenatalCheckUp" class="block mb-2 text-sm font-medium text-gray-700">First Antenatal Checkup</label>
                        <input asp-for="PregnancyTracking.FirstAntenatalCheckUp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.FirstAntenatalCheckUp" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.SecondAntenatalCheckUp" class="block mb-2 text-sm font-medium text-gray-700">Second Antenatal Checkup</label>
                        <input asp-for="PregnancyTracking.SecondAntenatalCheckUp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.SecondAntenatalCheckUp" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.ThirdAntenatalCheckUp" class="block mb-2 text-sm font-medium text-gray-700">Third Antenatal Checkup</label>
                        <input asp-for="PregnancyTracking.ThirdAntenatalCheckUp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.ThirdAntenatalCheckUp" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.MoreCheckUp" class="block mb-2 text-sm font-medium text-gray-700">Other Checkup</label>
                        <input asp-for="PregnancyTracking.MoreCheckUp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.MoreCheckUp" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                </div>
                <div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.PregnancyOutcome" class="block mb-2 text-sm font-medium text-gray-700">Pregnancy Outcome</label>
                        <select asp-for="PregnancyTracking.PregnancyOutcome" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5">
                            <option selected="selected" value="">Please select</option>
                            @foreach (var value in Enum.GetValues(typeof(PregnancyOutcome)))
                            {
                                <option value="@value">@EnumExtension.GetEnumTitleCase((PregnancyOutcome)value)</option>
                            }
                        </select>
                        <span asp-validation-for="PregnancyTracking.PregnancyOutcome" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.PostnatalCheckUp24hrs" class="block mb-2 text-sm font-medium text-gray-700">Postnatal Checkup 24 Hours</label>
                        <input asp-for="PregnancyTracking.PostnatalCheckUp24hrs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.PostnatalCheckUp24hrs" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.PostnatalCheckUp7days" class="block mb-2 text-sm font-medium text-gray-700">Postnatal Checkup 7 Days</label>
                        <input asp-for="PregnancyTracking.PostnatalCheckUp7days" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.PostnatalCheckUp7days" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.LiveBirth" class="block mb-2 text-sm font-medium text-gray-700">Live Birth</label>
                        <input asp-for="PregnancyTracking.LiveBirth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.LiveBirth" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.MaternalDeath" class="block mb-2 text-sm font-medium text-gray-700">Maternal Death</label>
                        <input asp-for="PregnancyTracking.MaternalDeath" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.MaternalDeath" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.StillBirth" class="block mb-2 text-sm font-medium text-gray-700">Still Birth</label>
                        <input asp-for="PregnancyTracking.StillBirth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.StillBirth" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyTracking.EarlyNewbornDeath" class="block mb-2 text-sm font-medium text-gray-700">Early Newborn Death</label>
                        <input asp-for="PregnancyTracking.EarlyNewbornDeath" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyTracking.EarlyNewbornDeath" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                </div>
            </div>
            <div class="flex justify-end">
                <a asp-action="Index" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-red-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 hover:bg-red-450 !important">Back</a>
                <button type="submit" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Add</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
